@charset "utf-8";
/*
  Стили главных элементов разметки страницы
*/
#mainHeader {
  margin-bottom: 7px;
}

#code-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  column-gap: 15px;
  margin: 3px 10px;
}

#group-css,#group-html {
  flex: 1;
  background-color: #f0f0f0;
  padding-bottom: 7px;
}

#code-css,#code-html {
  width: 100%;
  resize: none;
  margin-bottom: 5px;
}

.info-pane {
  font-weight: normal;
  color: red;
}

input[type="color"] {
  height: 32px;
}

.form-button {
  padding: 2px 4px 0 4px;
  font-size: inherit;
  background-color: lightgray;
  border: 2px solid silver;
  border-radius: 3px;
  box-shadow: 2px 2px 3px;
  cursor: pointer;
}

.form-button img {
  width: 24px;
  height: 24px;
}

.controls-block {
  padding: 3px 10px;
}

#construction-line {
  display: flex;
  justify-content: space-around;
  font-family: impact;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  padding: 4px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image: url("../img/do-not-cross-01.png");
  background-repeat: repeat-x;
  background-size: contain;
}
